eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_INT_STRCFG_0102.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by name (company) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:include schemaLocation="EO_OPER_INT_STRCFG.HeaderTypes_0101.XSD"/>
	<xsd:include schemaLocation="EO_OPER_INT_STRCFG.DataBlockTypes_0101.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Star Tracker Configuration File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Star_Tracker_Configuration_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Star_Tracker_Configuration_Header_Type"/>
			<xsd:element name="Data_Block" type="Star_Tracker_Configuration_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="Star_Tracker_Configuration_File_Type"/>
</xsd:schema>
