eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_MPL_ORBSCT_0105.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Registred (Registred) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.5">
	<xsd:include schemaLocation="EO_OPER_MPL_ORBSCT.HeaderTypes_0103.XSD"/>
	<xsd:include schemaLocation="EO_OPER_MPL_ORBSCT.DataBlockTypes_0104.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Orbit Scenario File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Orbit_Scenario_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Orbit_Scenario_Header_Type"/>
			<xsd:element name="Data_Block" type="Orbit_Scenario_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="Orbit_Scenario_File_Type"/>
</xsd:schema>
