eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_INT_SATCFG.DataBlockTypes_0102.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:include schemaLocation="BasicTypes_0101.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Satellite Configuration Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Tolerance_Parameters_Type">
		<xsd:sequence>
			<xsd:element name="Min_Semi_Major_Axis" type="Decimal_Type"/>
			<xsd:element name="Max_Semi_Major_Axis" type="Decimal_Type"/>
			<xsd:element name="Min_Inclination" type="Decimal_Type"/>
			<xsd:element name="Max_Inclination" type="Decimal_Type"/>
			<xsd:element name="Min_Eccentricity" type="Decimal_Type"/>
			<xsd:element name="Max_Eccentricity" type="Decimal_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Satellite_Configuration_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Satellite_Name" type="String_Type"/>
			<xsd:element name="NORAD_Data" type="NORAD_Data_Type"/>
			<xsd:element name="Lib_Init" type="Lib_Init_Type"/>
			<xsd:element name="Orbit_Init" type="Orbit_Init_Type"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="Satellite_Configuration_Data_Block_Type"/>
	<xsd:complexType name="NORAD_Data_Type">
		<xsd:sequence>
			<xsd:element name="Satellite_Number">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NORAD_Sat_Name" type="xsd:string"/>
			<xsd:element name="Int_Designator">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
						<xsd:whiteSpace value="preserve"/>
						<xsd:pattern value="[0-9]{5}[A-Z 0-9]{3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Lib_Init_Type">
		<xsd:sequence>
			<xsd:element name="Low_Tolerances" type="Tolerance_Parameters_Type"/>
			<xsd:element name="Tight_Tolerances" type="Tolerance_Parameters_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_Init_Type">
		<xsd:sequence>
			<xsd:element name="Min_Semi_Major_Axis" type="Decimal_Type"/>
			<xsd:element name="Nom_Semi_Major_Axis" type="Decimal_Type"/>
			<xsd:element name="Max_Semi_Major_Axis" type="Decimal_Type"/>
			<xsd:element name="Min_Inclination" type="Decimal_Type"/>
			<xsd:element name="Nom_Inclination" type="Decimal_Type"/>
			<xsd:element name="Max_Inclination" type="Decimal_Type"/>
			<xsd:element name="Nom_Eccentricity" type="Decimal_Type"/>
			<xsd:element name="Nom_Arg_Perigee" type="Decimal_Type"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
