eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_INT_ATTDEF_0205.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.5">
	<xsd:include schemaLocation="EO_OPER_INT_ATTDEF.HeaderTypes_0201.XSD"/>
	<xsd:include schemaLocation="EO_OPER_INT_ATTDEF.DataBlockTypes_0205.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Attitude Definition File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Header_Type"/>
			<xsd:element name="Data_Block" type="Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="File_Type"/>
</xsd:schema>
