eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_MPL_SWTREF_0303.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by name (company) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.3">
	<xsd:include schemaLocation="EO_OPER_MPL_SWTREF.HeaderTypes_0303.XSD"/>
	<xsd:include schemaLocation="EO_OPER_MPL_SWTREF.DataBlockTypes_0301.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Swath Template File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SWTREF_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="SWTREF_Header_Type"/>
			<xsd:element name="Data_Block" type="SWTREF_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="SWTREF_File_Type"/>
</xsd:schema>
