eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_AUX_ORBDOP.DataBlockTypes_0102.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by name (company) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:include schemaLocation="OrbitTypes_0104.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Doris Preliminary Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Doris_Preliminary_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="List_of_OSVs" type="List_of_OSVs_Type"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="Doris_Preliminary_Data_Block_Type"/>
</xsd:schema>
