eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_MPL_SWTREF.DataBlockTypes_0301.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.1">
	<xsd:include schemaLocation="GeoLocationTypes_0201.XSD"/>
	<xsd:include schemaLocation="BasicTypes_0201.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Swath Template Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Inertial_Swath_Type">
		<xsd:sequence>
			<xsd:element name="RA" type="Right_Asc"/>
			<xsd:element name="Dec" type="Declination"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Geodetic_Swath_Type">
		<xsd:sequence>
			<xsd:element name="Long" type="Longitude_Type"/>
			<xsd:element name="Lat" type="Latitude_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Inertial_Pts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Inertial_Pt" type="Inertial_Swath_Type"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Geodetic_Pts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Geodetic_Pt" type="Geodetic_Swath_Type"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="STF_Pt">
		<xsd:choice>
			<xsd:element name="List_of_Geodetic_Pts" type="List_of_Geodetic_Pts"/>
			<xsd:element name="List_of_Inertial_Pts" type="List_of_Inertial_Pts"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="List_of_STF_Pts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="STF_Pt" type="STF_Pt"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SWTREF_Data_Block_Type">
		<xsd:sequence>
			<xsd:element name="List_of_STF_Pts" type="List_of_STF_Pts"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="SWTREF_Data_Block_Type"/>
</xsd:schema>
