eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_INT_DEMCFG_0209.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.9">
	<xsd:include schemaLocation="EO_OPER_INT_DEMCFG.HeaderTypes_0202.XSD"/>
	<xsd:include schemaLocation="EO_OPER_INT_DEMCFG.DataBlockTypes_0208.XSD"/>
	<xsd:annotation>
		<xsd:documentation>DEM Configuration File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="DEM_Configuration_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="DEM_Configuration_Header_Type"/>
			<xsd:element name="Data_Block" type="DEM_Configuration_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="DEM_Configuration_File_Type"/>
</xsd:schema>
