eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_AUX_ORBDOR_0105.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.5">
	<xsd:include schemaLocation="EO_OPER_AUX_ORBDOR.HeaderTypes_0103.XSD"/>
	<xsd:include schemaLocation="EO_OPER_AUX_ORBDOR.DataBlockTypes_0102.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Doris Precise Orbit File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Doris_Precise_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Doris_Precise_Header_Type"/>
			<xsd:element name="Data_Block" type="Doris_Precise_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="Doris_Precise_File_Type"/>
</xsd:schema>
