eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_DOR_NAV_0_.HeaderTypes_0300.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by name (company) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="OrbitTypes_0300.XSD"/>
	<xsd:include schemaLocation="TimeTypes_0300.XSD"/>
	<xsd:include schemaLocation="HeaderTypes_0300.XSD"/>
	<xsd:annotation>
		<xsd:documentation>DORIS Navigator Header Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Doris_Navigator_Variable_Header_Type">
		<xsd:sequence>
			<xsd:element name="MPH" type="MPH_Type"/>
			<xsd:element name="SPH" type="SPH_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Doris_Navigator_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="Doris_Navigator_Variable_Header_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Earth_Observation_Header" type="Doris_Navigator_Header_Type"/>
</xsd:schema>
