eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_MPL_SW_DEF_0304.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by name (company) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.4">
	<xsd:include schemaLocation="EO_OPER_MPL_SW_DEF.HeaderTypes_0302.XSD"/>
	<xsd:include schemaLocation="EO_OPER_MPL_SW_DEF.DataBlockTypes_0303.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Swath Definition File</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SWDEF_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="SWDEF_Header_Type"/>
			<xsd:element name="Data_Block" type="SWDEF_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="SWDEF_File_Type"/>
</xsd:schema>
