eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_AUX_ORBRES.DataBlockTypes_0300.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="OrbitTypes_0300.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Restituted Orbit Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Restituted_Orbit_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="List_of_OSVs" type="List_of_OSVs_Type"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="Restituted_Orbit_Data_Block_Type"/>
</xsd:schema>
