eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_MPL_GND_DB.DataBlockTypes_0300.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="GeoLocationTypes_0300.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Ground Station Database Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="List_of_Mask_Points_Type">
		<xsd:sequence>
			<xsd:element name="Mask_Point" type="Pointing_Direction_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Frequency_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="Hz"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="List_of_Spacecrafts_Type">
		<xsd:sequence>
			<xsd:element name="Spacecraft" type="Spacecraft_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Spacecraft_Type">
		<xsd:sequence>
			<xsd:element name="Name" type="String_Type"/>
			<xsd:element name="Aos_El" type="Elevation_Type"/>
			<xsd:element name="Los_El" type="Elevation_Type"/>
			<xsd:element name="Mask" type="Mask_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Mask_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="AOS_LOS_WITH_MASK"/>
			<xsd:enumeration value="AOS_LOS"/>
			<xsd:enumeration value="MASK_ONLY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Ground_Station_Definition_Type">
		<xsd:sequence>
			<xsd:element name="Station_id" type="String_Type"/>
			<xsd:element name="Descriptor" type="String_Type"/>
			<xsd:element name="Antenna" type="String_Type"/>
			<xsd:element name="Frequency" type="Frequency_Type" minOccurs="0"/>
			<xsd:element name="Purpose" type="String_Type"/>
			<xsd:element name="Type" type="String_Type"/>
			<xsd:element name="Location" type="Geo_Location_Type"/>
			<xsd:element name="List_of_Spacecrafts" type="List_of_Spacecrafts_Type"/>
			<xsd:element name="Default_El" type="Elevation_Type"/>
			<xsd:element name="List_of_Mask_Points" type="List_of_Mask_Points_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Ground_Stations_Type">
		<xsd:sequence>
			<xsd:element name="Ground_Station" type="Ground_Station_Definition_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Ground_Station_Database_Data_Block_Type">
		<xsd:sequence>
			<xsd:element name="List_of_Ground_Stations" type="List_of_Ground_Stations_Type">
				<xsd:unique name="Station_Id">
					<xsd:selector xpath="./Ground_Station"/>
					<xsd:field xpath="Station_id"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="Ground_Station_Database_Data_Block_Type"/>
</xsd:schema>
