eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_DOR_NAV_0_.DataBlockTypes_0100.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="OrbitTypes_0102.XSD"/>
	<xsd:include schemaLocation="TimeTypes_0102.XSD"/>
	<xsd:include schemaLocation="HeaderTypes_0103.XSD"/>
	<xsd:annotation>
		<xsd:documentation>DORIS Navigator Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Variable_Header">
		<xsd:sequence>
			<xsd:element name="MPH" type="MPH_Type"/>
			<xsd:element name="SPH" type="SPH_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Doris_Header">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="Variable_Header"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
