eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/EO_OPER_INT_ATTDEF.DataBlockTypes_0302.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Registred (Registred) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.2">
	<xsd:include schemaLocation="GeoLocationTypes_0300.XSD"/>
	<xsd:include schemaLocation="TimeTypes_0300.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Attitude Definition Reference Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="Attitude_Transformation_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="sat_nom"/>
			<xsd:enumeration value="sat_att"/>
			<xsd:enumeration value="instr_att"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Time_Window_Type">
		<xsd:sequence>
			<xsd:element name="Time_0" type="Decimal_Type"/>
			<xsd:element name="Time_1" type="Decimal_Type"/>
		</xsd:sequence>
		<xsd:attribute name="time_ref" type="Time_Reference_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Time_Selection_Type">
		<xsd:choice>
			<xsd:element name="Select_File" type="Null_Type"/>
			<xsd:element name="Time_Window" type="Time_Window_Type"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Pointing_Geometry_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Azimuth" type="Azimuth_Type"/>
			<xsd:element name="Elevation" type="Elevation_Type"/>
			<xsd:element name="Altitude" type="Height_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inertial_Geometry_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Azimuth" type="Azimuth_Type"/>
			<xsd:element name="Altitude" type="Height_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Asar_Geometry_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Left_Pt" type="Pointing_Geometry_Type"/>
			<xsd:element name="Mid_Pt" type="Pointing_Geometry_Type"/>
			<xsd:element name="Right_Pt" type="Pointing_Geometry_Type"/>
			<xsd:choice>
				<xsd:element name="Narrow_Asar">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Slant_Range_Left" type="Asar_Pulse_Type"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Wide_Asar">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Slant_Range_Left" type="Asar_Pulse_Type"/>
							<xsd:element name="Slant_Range_Right" type="Asar_Pulse_Type"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Asar_Pulse_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="10e-6s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Distance_Geometry_Type">
		<xsd:sequence>
			<xsd:element name="Azimuth" type="Azimuth_Type"/>
			<xsd:element name="Elevation" type="Elevation_Type"/>
			<xsd:element name="Altitude" type="Height_Type"/>
			<xsd:element name="Distance" type="Distance_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Position_Offset_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Offsets_Type">
		<xsd:sequence>
			<xsd:element name="Offset_X" type="Position_Offset_Type" default="0"/>
			<xsd:element name="Offset_Y" type="Position_Offset_Type" default="0"/>
			<xsd:element name="Offset_Z" type="Position_Offset_Type" default="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Harmonic_Type">
		<xsd:sequence>
			<xsd:element name="Harmonic_Type" type="Integer_Type"/>
			<xsd:element name="Harmonic_Coef" type="Decimal_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Harmonics_Type">
		<xsd:sequence>
			<xsd:element name="Harmonic" type="Harmonic_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="PositiveInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Harmonic_Model_Type">
		<xsd:sequence>
			<xsd:element name="Angle_Type">
				<xsd:simpleType>
					<xsd:restriction base="String_Type">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="TRUE_LAT_TOD"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="TRUE_LAT_EF"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="List_of_Harmonics_Pitch" type="List_of_Harmonics_Type"/>
			<xsd:element name="List_of_Harmonics_Roll" type="List_of_Harmonics_Type"/>
			<xsd:element name="List_of_Harmonics_Yaw" type="List_of_Harmonics_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Parameters_Type">
		<xsd:sequence>
			<xsd:element name="Parameter" type="String_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Param_Model_Type">
		<xsd:sequence>
			<xsd:element name="Model">
				<xsd:simpleType>
					<xsd:restriction base="String_Type">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="GENERIC"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="ENVISAT"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="CRYOSAT"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="ADM"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="SENTINEL1"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="SENTINEL2"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="GEO"/>
                                                <xsd:enumeration value="7"/>
                                                <xsd:enumeration value="METOPSG"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="List_of_Parameters" type="List_of_Parameters_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Files_Type">
		<xsd:sequence>
			<xsd:element name="File" type="String_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="PositiveInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="File_Model_Type">
		<xsd:sequence>
			<xsd:element name="List_of_Files" type="List_of_Files_Type"/>
			<xsd:element name="Auxiliary_File" type="String_Type"/>
			<xsd:element name="Time_Selection" type="Time_Selection_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Angle_Model_Type">
		<xsd:sequence>
			<xsd:element name="Angle_1" type="Angle_Type"/>
			<xsd:element name="Angle_2" type="Angle_Type"/>
			<xsd:element name="Angle_3" type="Angle_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Row_Type">
		<xsd:sequence>
			<xsd:element name="Column_1" type="Decimal_Type"/>
			<xsd:element name="Column_2" type="Decimal_Type"/>
			<xsd:element name="Column_3" type="Decimal_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Matrix_Model_Type">
		<xsd:sequence>
			<xsd:element name="Row_1" type="Row_Type"/>
			<xsd:element name="Row_2" type="Row_Type"/>
			<xsd:element name="Row_3" type="Row_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Attitude_Model_Type">
		<xsd:choice>
			<xsd:element name="None" type="Null_Type"/>
			<xsd:element name="AOCS_Model" type="AOCS_Type"/>
			<xsd:element name="Parameter_Model" type="Param_Model_Type"/>
			<xsd:element name="Harmonic_Model" type="Harmonic_Model_Type"/>
			<xsd:element name="File_Model" type="File_Model_Type"/>
			<xsd:element name="Angle_Model" type="Angle_Model_Type"/>
			<xsd:element name="Matrix_Model" type="Matrix_Model_Type"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ATT_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Sat_Nominal_Att" type="Sat_Nominal_Att_Type"/>
			<xsd:element name="Sat_Att" type="Sat_Att_Type"/>
			<xsd:element name="Instr_Att" type="Instr_Att_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Attitude_Definition" type="ATT_Type"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="Data_Block_Type"/>
	<xsd:complexType name="Sat_Nominal_Att_Type">
		<xsd:choice>
			<xsd:element name="None" type="Null_Type"/>
			<xsd:element name="AOCS_Model" type="AOCS_Type"/>
			<xsd:element name="Parameter_Model" type="Param_Model_Type"/>
			<xsd:element name="Harmonic_Model" type="Harmonic_Model_Type"/>
			<xsd:element name="File_Model" type="File_Model2_Type"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Sat_Att_Type">
		<xsd:choice>
			<xsd:element name="None" type="Null_Type"/>
			<xsd:element name="Harmonic_Model" type="Harmonic_Model_Type"/>
			<xsd:element name="File_Model" type="File_Model_Type"/>
			<xsd:element name="Angle_Model" type="Angle_Model_Type"/>
			<xsd:element name="Matrix_Model" type="Matrix_Model_Type"/>
			<xsd:element name="Quaternion_Plus_Angle">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Angle_Model" type="Angle_Model_Type"/>
						<xsd:choice>
							<xsd:element name="Quaternion_Data" type="Quaternion_Model_Type"/>
							<xsd:element name="Quaternion_File" type="xsd:string"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Quaternion_Plus_Matrix">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Matrix_Model" type="Matrix_Model_Type"/>
						<xsd:choice>
							<xsd:element name="Quaternion_Data" type="Quaternion_Model_Type"/>
							<xsd:element name="Quaternion_File" type="xsd:string"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Instr_Att_Type">
		<xsd:choice>
			<xsd:element name="None" type="Null_Type"/>
			<xsd:sequence>
				<xsd:element name="Harmonic_Model" type="Harmonic_Model_Type"/>
				<xsd:element name="Offsets" type="Offsets_Type"/>
			</xsd:sequence>
			<xsd:element name="File_Model" type="File_Model2_Type"/>
			<xsd:sequence>
				<xsd:element name="Angle_Model" type="Angle_Model_Type"/>
				<xsd:element name="Offsets" type="Offsets_Type"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Matrix_Model" type="Matrix_Model_Type"/>
				<xsd:element name="Offsets" type="Offsets_Type"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="File_Model2_Type">
		<xsd:sequence>
			<xsd:element name="List_of_Files" type="List_of_Files_Type"/>
			<xsd:element name="Time_Selection" type="Time_Selection_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Quaternion_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Angle_Time_Type">
		<xsd:simpleContent>
			<xsd:extension base="Mission_Date_Time_Type">
				<xsd:attribute name="ref" type="Time_Reference_Type" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Quaternion_Type"/>
	<xsd:complexType name="Quaternion_Model_Type">
		<xsd:sequence>
      	    <xsd:element name="Reference_Frame" type="String_Type"/>
			<xsd:element name="List_of_Quaternions">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="Quaternion">
							<xsd:complexType>
								<xsd:sequence>
								      <xsd:element name="Time" type="Angle_Time_Type"/>
									<xsd:element name="Q1" type="Quaternion_Component_Type"/>
									<xsd:element name="Q2" type="Quaternion_Component_Type"/>
									<xsd:element name="Q3" type="Quaternion_Component_Type"/>
									<xsd:element name="Q4" type="Quaternion_Component_Type"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AOCS_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="GEOCENTRIC_POINTING"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="LOCAL_NORMAL_POINTING"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="YAW_STEERING_MODE"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="ZERO_DOPPLER_YSM"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
