eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/files/schemas/OrbitTypes_0104.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Registred (Registred) -->
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	<xsd:include schemaLocation="GeoLocationTypes_0101.XSD"/>
	<xsd:include schemaLocation="TimeTypes_0102.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Orbit Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Repeat_Cycle_Type">
		<xsd:simpleContent>
			<xsd:extension base="PositiveInteger_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="day"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Cycle_Length_Type">
		<xsd:simpleContent>
			<xsd:extension base="PositiveInteger_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="orbit"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Harmonic_Term_Type">
		<xsd:sequence>
			<xsd:element name="Reference_Time">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="No_Ref_Date_Time_Type">
							<xsd:attribute name="time_ref" type="String_Type" use="required" fixed="UT1"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Period">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="Decimal_Type">
							<xsd:attribute name="unit" type="String_Type" use="required" fixed="day"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Amplitude_Sin">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="Decimal_Type">
							<xsd:attribute name="unit" type="String_Type" use="required" fixed="s"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Amplitude_Cos">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="Decimal_Type">
							<xsd:attribute name="unit" type="String_Type" use="required" fixed="s"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="seq" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="MLST_Nonlinear_Drift_Type">
		<xsd:sequence>
			<xsd:element name="Linear_Approx_Validity">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:integer">
							<xsd:attribute name="unit" type="String_Type" use="required" fixed="orbit"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Quadratic_Term">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="Decimal_Type">
							<xsd:attribute name="unit" type="String_Type" use="required" fixed="s/day^2"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Harmonics_Terms">
				<xsd:complexType>
					<xsd:sequence minOccurs="0" maxOccurs="2">
						<xsd:element name="Harmonic_Term" type="Harmonic_Term_Type"/>
					</xsd:sequence>
					<xsd:attribute name="num" type="NonNegativeInteger_Type" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MLST_Drift_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="s/day"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Position_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Velocity_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m/s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Quality_Type">
		<xsd:restriction base="String_Type"/>
	</xsd:simpleType>
	<xsd:complexType name="Orbit_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Absolute_Orbit" type="PositiveInteger_Type"/>
			<xsd:element name="Relative_Orbit" type="PositiveInteger_Type"/>
			<xsd:element name="Cycle_Number" type="PositiveInteger_Type"/>
			<xsd:element name="Phase_Number" type="PositiveInteger_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Cycle_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Repeat_Cycle" type="Repeat_Cycle_Type"/>
			<xsd:element name="Cycle_Length" type="Cycle_Length_Type"/>
			<xsd:element name="ANX_Longitude" type="Longitude_Type"/>
			<xsd:element name="MLST" type="Time_Type"/>
			<xsd:element name="MLST_Drift" type="MLST_Drift_Type"/>
			<xsd:element name="MLST_Nonlinear_Drift" type="MLST_Nonlinear_Drift_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Time_of_ANX_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="TAI" type="TAI_Date_Time_Type"/>
			<xsd:element name="UTC" type="UTC_Date_Time_Type"/>
			<xsd:element name="UT1" type="UT1_Date_Time_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_Change_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Orbit" type="Orbit_Type"/>
			<xsd:element name="Cycle" type="Cycle_Type"/>
			<xsd:element name="Time_of_ANX" type="Time_of_ANX_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Orbit_Changes_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Orbit_Change" type="Orbit_Change_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="PositiveInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="OSV_Type">
		<xsd:sequence>
			<xsd:element name="TAI" type="TAI_Date_Time_Type"/>
			<xsd:element name="UTC" type="UTC_Date_Time_Type"/>
			<xsd:element name="UT1" type="UT1_Date_Time_Type"/>
			<xsd:element name="Absolute_Orbit" type="NonNegativeInteger_Type"/>
			<xsd:element name="X" type="Position_Component_Type"/>
			<xsd:element name="Y" type="Position_Component_Type"/>
			<xsd:element name="Z" type="Position_Component_Type"/>
			<xsd:element name="VX" type="Velocity_Component_Type"/>
			<xsd:element name="VY" type="Velocity_Component_Type"/>
			<xsd:element name="VZ" type="Velocity_Component_Type"/>
			<xsd:element name="Quality" type="Quality_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_OSVs_Type">
		<xsd:sequence>
			<xsd:element name="OSV" type="OSV_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
</xsd:schema>
