eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/explorer_data_handling/example/data/schemas/EO_OPER_MPL_ORBSCT.DataBlockTypes_0100.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="OrbitTypes_0100.XSD"></xsd:include>
	<xsd:annotation>
		<xsd:documentation>Reference Orbit Scenario Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>$Revision: 1.2 $ $Date: 2012-02-14 10:40:48 $</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Orbit_Scenario_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="List_of_Orbit_Changes" type="List_of_Orbit_Changes_Type"
			></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"></xsd:attribute>
	</xsd:complexType>
</xsd:schema>
