eodp_gm-master/cots/eocfi-clib-linux64-4.17.0/explorer_data_handling/example/data/schemas/EO_OPER_MPL_ORBSCT_0100.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="HeaderTypes_0100.XSD"></xsd:include>
	<xsd:include schemaLocation="EO_OPER_MPL_ORBSCT.DataBlockTypes_0100.XSD"></xsd:include>
	<xsd:annotation>
		<xsd:documentation>Reference Orbit Scenario File</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>$Revision: 1.2 $ $Date: 2012-02-14 10:40:49 $</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Orbit_Scenario_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"></xsd:element>
			<xsd:element name="Variable_Header" type="AnyType_Type"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_Scenario_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Orbit_Scenario_Header_Type"></xsd:element>
			<xsd:element name="Data_Block" type="Orbit_Scenario_Data_Block_Type"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="Orbit_Scenario_File_Type"></xsd:element>
</xsd:schema>
